
<div style = "max-width:1600px; margin:0 auto; padding:10px;">
        <div class="container-fluid">
                <div class="row">
                        <div class="col align-self-start">
                            <app-top-bar (buttonToggle)="onButtonToggle($event)"></app-top-bar>
                        </div>
                </div>

        </div>
        <app-table [animateData] ="animateData" *ngIf="data?.length > 0 && tableFlag=== true"  ></app-table>
        <app-grid [animateData] ="animateData" *ngIf="data?.length > 0 && tableFlag=== false"></app-grid>
 </div>
      
                


